body{
	font-family: Calibri, Arial, Helvetica;
	/*background: url(../Imagenes/fondo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;  /* Para que el contenido se deslice, pero el fondo no*/
	/*color: #000;
	background-position: 50%;*/
	background: #0F7A8A;
}

/*Barra que se encuentra al iniciar la pagina*/
.bienvenida{
	text-align: center;
	font-size: 30px;
	color: #fff;
	position: absolute;
	background: #0F7A8A;
	height: 40px;
	width:1259.5px;
	left: 6.5px

}
/*Logo Centro de Pantalla*/
.logo{
	position: absolute;
	height: px;
	right: 475px;
	top: 85px;
	opacity: 1;
}
/*Logo Superios Menu*/
.logo2{
	position: absolute;
	height: 70px;
	left: 100px;
	top: 0.2px;
	opacity: 0.9;
}

/*Imagen de Fondo*/
.imagen{
	position: absolute;
	height: 712px;
	top: -140px;
	left: 1px;
	opacity: 0.3;
}

/*Barra Menu*/
.menu{
	position: relative;
	background: #fff952/*#7756BF*/;
	height: 40px;
	top: -15px;
	width: 1256px;
	right: 8px;
	padding: 5px;
}

/*Items de Barra Menu*/
.menu a{
	font-size: 15px;
	color:#000;
	height: 1px;
	padding: 10px;
	position: relative;
	left: 50%;
	top: 8px;
}

.nombre_de_pagina{
	color: #000;
	font-size: 28px;
	position: absolute;
	top: -20px;
	left: 30px;
}


/* Fondo Blanco*/
body div{
	position: relative;
	background: #fff;
	height: 1750px;
	width: 1256px;
	top: -140px;
	right: 8px;
	padding: 5px;
}

/*.cabesera{
	margin: 10px 43%
}*/
div div{
	font-family: Arial;
	width: 1226px;
	height: 350px;
	/*background: #2271b3;*/
	color: #000;
	/*margin: 40px;*/
	padding: 10px;
	border: 3px solid #000;
	/*display: inline-block;*/
}

div footer{
	position: relative;
	/*height: 1px;*/
	width: 262px;
	right: 5.5px;
	padding: 5px 40%;
	bottom: 2px;
	background: #332f2c;*/
}
div footer p{
	text-align: center;
	opacity: 0.50;
	color: #2271b3;
	font-size: 30px
}


.caja1{
	text-align: center;
	position: absolute;
	top: 120px;
	left: 0.5%;
}
.caja2{
	text-align: center;
	position: absolute;
	top: 530px;
	left: 0.5%;
}
.caja3{
	text-align: center;
	position: absolute;
	top: 940px;
	left: 0.5%;
}
.caja4{
	text-align: center;
	position: absolute;
	top: 1348px;
	left: 0.5% ;
}

.cuerpo{
	position: relative;
	
}

aside{
	text-align: center;
	opacity: 0.70;
}