body{
	/*background: url(../Imagenes/fondo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;  /* Para que el contenido se deslice, pero el fondo no*/
	/*color: #000;
	background-position: 50%;*/
	background: #535252;
}
img{
	position: absolute;
	height: 1000px;
	top: -120px;
	height: 1035px ;
	right: 0.5px;
	opacity: 0.70;
}

.menu{
	position: relative;
	background: #7756BF;
	height: 40px;
	top: -40px;
	width: 1339px;
	right: 8px;
	padding: 5px;
}
.menu a{
	font-size: 15px;
	color:#000;
	/*height: 1px;*/
	padding: 14px;
	position: relative;
	left: 50%;
	top: 8px;
}

.inicio{
	font-size: 28px;
	position: absolute;
	top: -20px;
	left: 30px;
}


body div{
	position: relative;
	background: #fff;
	height: 1500px;
	width: 1339px;
	top: -140px;
	right: 8px;
	padding: 5px;
}

/*.cabesera{
	margin: 10px 43%
}*/
div div{
	width: 250px;
	height: 174px;
	background: #ff8000;
	color: #000;
	/*margin: 40px;*/
	padding: 10px;
	border: 3px solid #000;
	/*display: inline-block;*/
}

div footer{
	position: relative;
	/*height: 1px;*/
	width: 278.5px;
	right: 5.5px;
	padding: 5px 40%;
	bottom: 2px;
	background: #332f2c;
}
div footer p{
	color: #8a9597;
	font-size: 30px
}


.tutoriales_caja{
	position: absolute;
	top: 120px;
	bottom: ;
	right: ;
	left: 15%;
}
.invierte_caja{
	position: absolute;
	top: 120px;
	bottom: ;
	right: ;
	left: 40%;
}
.cobra_caja{
	position: absolute;
	top: 120px;
	bottom: ;
	right: ;
	left: 65%;
}

.cuerpo{
	position: relative;
	
}